<div id="periodicTable">
    <div  *ngFor="let element of elements" table-element [element]="element" [style.grid-column-start]="element.group" [style.grid-column-end]="1*element.group+1" [style.grid-row-start]="element.period" [style.grid-row-end]="1*element.period+1" (click)="onSelect(element)" ></div>
</div>
<div *ngIf="selectedElement"><bohr-diagram [element]="selectedElement"></bohr-diagram></div>
