* {
  box-sizing: border-box;
}

table#periodicTable {
    /*border-collapse: collapse;*/
    table-layout: fixed;
    display: inline-table;
}

table#periodicTable td {
    padding: 0em;
    width: 5em;
    height: 5em;
    vertical-align: middle;
    text-align: center;
}


table#periodicTable td:not(:empty)
{
    border: 0.1em solid black
}

div#periodicTable {
    display: grid;
    grid-template-columns: repeat(18, 5em);
    grid-template-rows:  repeat(5, 5em);
    grid-row-gap: 0.7em;
    grid-column-gap: 0.7em;
}