
body {
    background-color: #CCCCCC;
	
}
h1 {
	font-size:200%;
	text-align:center;	
}
	
table{
		font-size:200%;
		margin:auto;		
	}
	
a:link    {
	color:black; 
	background-color:transparent; 
	text-decoration:none
	}
a:visited {
	color:black; 
	background-color:transparent; 
	text-decoration:none
	}
a:hover   {
	color:blue; 
	background-color:transparent; 
	text-decoration:underline
	}
a:active  {
	color:red; 
	background-color:transparent; 
	text-decoration:underline
	}
	

td {
	width:5%;
    padding: 3px;
    text-align: centre;
	font-weight:bold;	   
}

td:hover{
	opacity: 0.6;
}

.nonmetal{
	background-color:PowderBlue;
	border: 3px solid Blue;
}
.noblegas{
	background-color:Lavender;
	border: 3px solid Magenta;
}
.alkalimetal{
	background-color:Pink;
	border: 3px solid DarkRed;
}
.alkalineearth{
	background-color:CornSilk;
	border: 3px solid DarkOrange;
}
.semimetal{
	background-color:Cornflowerblue;
	border: 3px solid DarkSlateGrey;
}
.halogen{
	background-color:Plum;
	border: 3px solid maroon;
}

.anumber{
	vertical-align: super;	
	font-size: 80%;
	font-weight:bold;	
}

.symbol{
	text-align: center;
	font-size:100%;
	font-weight:bold;	
}

.name{
	font-size:50%;
	text-align: center;
	font-style: oblique;	
}

.name .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    
    /* Position the tooltip */
    position: absolute;
    top: 5%;
    left: 20%;   
}

.name:hover .tooltiptext {
    visibility: visible;	
}

.groupButton{
	padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight: bold;
    cursor: pointer;
    float: left;	
}

.groupButton:hover{
	opacity: 0.6;
}

.defaultButton{	
	border: 3px solid Black;
}

.buttonList{
	margin: auto;
    width: 70%;
	padding: 100px 0;
}
	






