body {
    background-image: url('bricks.jpg');
    background-size: cover;
}

#painting {
    width: 1024px;
    height: 690px;
    min-height: 690px;
}

#painting.absent {
    background-image: url('dumbledore_office_empty.png');
}

#painting.present {
    background-image: url('dumbledore_office_with_professor.png');
}

#dumbledore-speech.visible {
    font-family: Viner Hand ITC, serif;
    font-size: x-large;
    background: #fff0cf;
    color: black;
    padding: 20px;
    width: auto;
    position: absolute;
    left: 1030px;
    top: 60px;
}

#dumbledore-speech.invisible {
    display: none;
}

#continue-button.visible {
    background: red;
    color: black;
    padding: 20px;
    font-size: xx-large;
    width: auto;
    position: absolute;
    left: 1030px;
    top: 500px;
    cursor: pointer;
}

#continue-button.invisible {
    display: none;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table tr td {
    width: 192px;
    height: 256px;
}

img.card {
    width: 192px;
    height: 256px;
}

.won {
    color: yellow;
    font-size: xx-large;
    text-align: center;
}