* {
  box-sizing: border-box;
}

table#periodicTable {
    border-collapse: collapse;
    display: inline-table;
    border:2px solid black;
}

table#periodicTable td {
    width: 5em;
    height: 1em;
    padding: 0.2em;
    border:1px solid black;
}
table#periodicTable th {
    width: 5em;
    height: 1em;
    padding: 0.2em;
    border:1px solid black;
    background-color: darkblue;
    color: white;
    
}

 .symbol {
    text-align: center;
    font-size: 2em;
}
.name {
    text-align: left;
}

.floating {
position: absolute;
height:4%;
width:4%;
background-color:red;
border: 2px solid black;
border-radius: 10px;
text-align: center;
padding: 3px;

}

.floating:hover {
    background-color:yellow;
    
}

.infoTable {
    background-color: cyan;
    padding: 0.2em;
    border:1px solid black;
    position: absolute;
    top:50%;
}

.infoTable .na {
    background-color: gray;
}