<template>
    <svg id="electron-configuration" width="560" height="560" viewBox="0 0 560 560">
        <symbol id="ec-electron" x="-10" y="-10" width="21" height="21" >
            <circle cx="10" cy="10" r="10" fill="#6a6af0" stroke="white" strokeWidth="3" />
        </symbol>
        <symbol id="ec-empty-electron-slot" x="-10" y="-10" width="21" height="21">
            <circle cx="10" cy="10" r="10" fill="white" stroke="gray" strokeWidth="3" />
        </symbol>
        <g id="ec-electron-shells">
            <circle v-for="i in ringIndices" :key="i" cx="280" cy="280" :r="70 + i * 30" fill="none" stroke="gray" />
        </g>
        <g id="ec-electrons">
            <use v-for="(e, i) in electrons" href="#ec-electron" :x="e.x" :y="e.y" :key="i" />
        </g>
        <g id="ec-nucleus">
            <circle cx="280" cy="280" r="50" fill="#ED6E46" />
            <text id="ec-symbol" x="280" y="298" font-size="40" text-anchor="middle">{{element.symbol}}</text>
        </g>
    </svg>
</template>

<script>

import {chemicalElementData, chemicalElementCategoryData} from '../periodic-table-data.js';

export default {
    props: ['element', 'lang'],
    data: function() {return {
        ringIndices: [0,1,2,3,4,5,6]
    }},
    computed: {
        electrons: function() {
            return this.getElectronsXY();
        }
    },
    methods: {
        getElectronsXY: function() {
            let ret = [];

            let configuration = this.getElectronConfiguration(this.element);

            for (let electronShellNumber in configuration) {
                let filledSlots = configuration[electronShellNumber];
                let displayRadius = 40 + electronShellNumber * 30;
                let angleIncrement = Math.PI * 2 / filledSlots;
                let angle = 0;
                //go anticlockwise from 12 o'clock.  x = -r * sin(theta), y = -r * cos(theta)
                for (let slotIndex = 0; slotIndex < filledSlots; slotIndex++) {
                    ret.push({x: 280 - displayRadius * Math.sin(angle), y: 280 - displayRadius * Math.cos(angle)});
                    angle += angleIncrement;
                }
                electronShellNumber++;
            }
            return ret;
        },

        getElectronConfiguration: function(elementData) {
            let ret = [];
            let atomicNumber = elementData["number"];
            let electronCount = atomicNumber;
    
            let electronsSoFar = 0;
    
            if ("electronConfiguration" in elementData) {
                let configInfo = elementData["electronConfiguration"];
                if ("observed" in configInfo) {
                    let observedConfig = configInfo["observed"];
                    let electronConfigurationDescription = observedConfig.match(/(\[([A-Za-z]+)\])?([0-9spdfg ]*)/);
                    let baseNobleGasSymbol = electronConfigurationDescription[2];
                    if (baseNobleGasSymbol) {
                        let baseNobleGasElementData = this.findElementDataByCategoryAndSymbol("noble-gas", baseNobleGasSymbol);
                        ret = this.getElectronConfiguration(baseNobleGasElementData);
                    }
                    if (3 in electronConfigurationDescription) {
                        // specialisation of noble gas
                        let extraSubshellDescription = electronConfigurationDescription[3];
                        let subshellPattern = /([0-9])([spdfg])([0-9]+)/g;
                        while (true) {
                            let subshellSpec = subshellPattern.exec(extraSubshellDescription);
                            if (subshellSpec === null) {
                                break;
                            }
                            let shellNumber = parseInt(subshellSpec[1]);
                            let subshellLetter = subshellSpec[2];
                            let electronCount = parseInt(subshellSpec[3]);
                            if (shellNumber in ret) {
                                ret[shellNumber] += electronCount; //TODO: show subshells somehow
                            } else {
                                ret[shellNumber] = electronCount;
                            }
                        }
                    }
    
                }
            }
            return ret;
        },
        
        findElementDataByCategoryAndSymbol: function(elementCategory, elementSymbol) {
            let atomicNumbers = chemicalElementCategoryData[elementCategory]
            for (let i = 0; i < atomicNumbers.length; i++) {
                let atomicNumber = atomicNumbers[i];
                let elementData = chemicalElementData[atomicNumber - 1];
                if (elementSymbol === elementData["symbol"]) {
                    return elementData;
                }
            }
            return null;
        }
    }
}
</script>
