<template>
    <td :class="className">
        <div v-if="element" v-on:click="clicked">
            <div class="atomic-number">{{element.number}}</div>
            <div class="symbol">{{element.symbol}}</div>
            <div class="name">{{element["name"][lang]}}</div>
        </div>
    </td>
</template>

<script>

import {chemicalElementCategoryData} from '../periodic-table-data.js';

export default {
    
    props: ['element', 'lang', 'elementSelectHandler'],
    data: function() {return {
        className: this.element ? "element " + this.findElementType(this.element.number) : ""
    }},
    methods: {
        findElementType: function(number) {
            var t;
            for (t in chemicalElementCategoryData) {
                if (chemicalElementCategoryData[t].indexOf(number) >= 0) {
                    return t;
                }
            }
            return 'unknown';
        },

        clicked: function() {
            this.elementSelectHandler(this.element);
        }
        
    }
}

</script>
