<template>
    <div class="periodic-table" :key="loadedLang"> <!-- why key? https://stackoverflow.com/a/48755228/316578 -->
        <h1>{{ t("Heading.PeriodicTable", "The periodic table of the elements") }}</h1>
        <dt>{{ t("Label.SelectLanguage", "Select language:") }}</dt>
        <dd>
            <select v-model="lang" v-on:change="languageSelected">
                <option value="en">English</option>
                <option value="de">Deutsch</option>
                <option value="fr">Français</option>
                <option value="es">Español</option>
                <option value="it">Italiano</option>
            </select>
        </dd>
        <h2>{{ t("Heading.MainTable", "Main Table") }}</h2>
        <table id="main-table">
            <colgroup>
                <col class="periods">
                <col class="group" v-for="group in groups" :key="group">
            </colgroup>
            <thead>
                <tr>
                    <th></th>
                    <th v-for="group in groups" :key="group">{{group}}</th>
                </tr>
            </thead>
            <tbody>
                <periodic-table-row v-for="periodNumber in periods" 
                :period="periodNumber" :heading="periodTitle(periodNumber)" :lang="lang" 
                :elementSelectHandler="handleElementSelected" :key="periodNumber"></periodic-table-row>
            </tbody> 
        </table>
        <h2>{{ t("Heading.Lanthanides", "Lanthanides") }}</h2>
        <table id="lanthanides-table">
            <colgroup>
                <col class="periods">
                <col class="group" v-for="group in innerTransitionMetalGroups" :key="group">
            </colgroup>
            <tbody>
                <periodic-table-row period="lanthanides" :heading='t("Heading.Lanthanides", "Lanthanides")' 
                :lang="lang" :elementSelectHandler="handleElementSelected"></periodic-table-row>
            </tbody>
        </table>
        <h2>{{ t("Heading.Actinides", "Actinides") }}</h2>
        <table id="actinides-table">
            <colgroup>
                <col class="periods">
                <col class="group" v-for="group in innerTransitionMetalGroups" :key="group">
            </colgroup>
            <tbody>
                <periodic-table-row period="actinides" :heading='t("Heading.Actinides", "Actinides")' 
                :lang="lang" :elementSelectHandler="handleElementSelected"></periodic-table-row>
            </tbody>
        </table>
        <bohr-diagram :element="currentElement" :lang="lang" v-if="currentElement" />
    </div>
</template>

<script>

import {loadTranslations, translate} from '../translation-manager.js';
import PeriodicTableRow from './periodic-table-row.vue';
import BohrDiagram from './bohr-diagram.vue';

export default {
    props: [],
    components: {
        PeriodicTableRow,
        BohrDiagram
    },
    data: function() {return {
        groups: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18],
        innerTransitionMetalGroups: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15],
        periods: ['1', '2', '3', '4', '5', '6', '7'],
        lang: "en",
        loadedLang: "en",
        currentElement: null
    }},
    methods: {
        periodTitle: function(periodNumber) {
            return this.t("Heading.Period", "Period") + " " + periodNumber;
        },

        handleElementSelected: function(el) {
            this.currentElement = el;
        },

        languageSelected: function() {
            this.langLoading = true;
            let vm = this;
            loadTranslations(this.lang, function(l) {vm.loadedLang = l; document.title = vm.t("Heading.PeriodicTable", "The periodic table of the elements");});
        },

        t: function(key, enString) {
            return translate(key, enString);
        }
    }
}
</script>
