<template>
    <tr class="period">
        <th>{{heading}}</th>
        <element-cell v-for="(element, i) in elements" :element="element" :lang="lang" :key="i" :elementSelectHandler="elementSelectHandler"></element-cell>
    </tr>
</template>

<script>

import {chemicalElementData} from '../periodic-table-data.js';
import ElementCell from './element-cell.vue';

export default {
    props: ['period', 'heading', 'lang', 'elementSelectHandler'],
    components: {
        ElementCell
    },
    data: function() {return {
        elements: this.getElementsForRow(this.period)
    }},
    methods: {
        buildRow: function(rowLength, leftmostAtomicNumber, leftCount, rightmostAtomicNumber, rightCount) {
            var ret = [];
            var i;
        
            for (i = 0; i < leftCount; i++) {
                ret[i] = chemicalElementData[leftmostAtomicNumber + i - 1];
            }
            if (rightmostAtomicNumber > leftmostAtomicNumber) {
                for (i = 0; i < rightCount; i++) {
                    ret[rowLength - 1 - i] = chemicalElementData[rightmostAtomicNumber - i - 1];
                }
            }
            return ret;
        },

        getElementsForRow: function(rowId) {
            if (rowId == '1') {
                return this.buildRow(18, 1, 1, 2, 1);
            } else if (rowId == '2') {
                return this.buildRow(18, 3, 2, 10, 6);
            } else if (rowId == '3') {
                return this.buildRow(18, 11, 2, 18, 6);
            } else if (rowId == '4') {
                return this.buildRow(18, 19, 18, 0, 0);
            } else if (rowId == '5') {
                return this.buildRow(18, 37, 18, 0, 0);
            } else if (rowId == '6') {
                return this.buildRow(18, 55, 2, 86, 15);
            } else if (rowId == '7') {
                return this.buildRow(18, 87, 2, 118, 15);
            } else if (rowId == 'lanthanides') {
                return this.buildRow(15, 57, 15, 0, 0);
            } else if (rowId == 'actinides') {
                return this.buildRow(15, 89, 15, 0, 0);
            }
        }
    }
}
</script>
