  <div class="element" *ngIf="element" [ngClass]="element.class">
      <div class="header">{{element.number}}</div>
      <div class="symbol">{{element.symbol}}</div>
      <div class="footer"></div>
  </div>