.element {
    padding: 0.2em;
    height: 100%;
    width: 100%;
    border: 0.05em solid black;
    border-radius: 0.3em;
}

.element > div.header {
    text-align: right;
}
.element > div.symbol {
    text-align: center;
    font-size: 2em;
}
.element > div.footer {
    text-align: right;
}


.OtherNonMetals
{
    background-color: green;
}
.AlkaliMetals
{
    background-color: orange;
}
.AlkalineEarthMetals
{
    background-color: yellow;
}
.NobelGases
{
    background-color: blue;
}
.Halogens
{
    background-color: mediumturquoise;
}
.Metalloids
{
    background-color: mediumseagreen;
}
.PostTransitionMetals
{
    background-color: paleturquoise;
}
.TransitionMetals
{
    background-color: hotpink;
}