﻿@using PeriodicTable.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<html>
<head>
    <title>Periodic Table, Periods I & II</title>
</head>
<body>
    <marquee>
        <table>
            <tr>
                <td>H</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>He</td>
            </tr>
            <tr>
                <td>Li</td>
                <td>Be</td>
                <td>B</td>
                <td>C</td>
                <td>N</td>
                <td>O</td>
                <td>F</td>
                <td>Ne</td>
            </tr>
        </table>
    </marquee>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}