.ccontainer {
    width: 100%;
    border: 1px solid gray;
}

.cheader, .cfooter {
    padding: 1em;
    color: white;
    background-color: RosyBrown;
    clear: left;
    text-align: center;
}

.ctable {
    font-family: arial, sans-serif;
    width: 100%;
}
.cfullcell{
    min-width:50px;
}
.cemptycell {
    min-width:25px;
}

.credbutton {
    background-color: red;
    font-weight: bold;
	color: yellow;
}

.cheader:hover{
    background-color: SaddleBrown;
}

.cnav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

.cnavul {
    list-style-type: square;
    padding: 2;
 	font-size:150%;
 	text-align: right;
}
			
.cnavula {
    text-decoration: none;
}

.carticle {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    background-color: Wheat;
}

.catomicnumber {
	font-size:25%;
    text-align: left;
    color: transparent;
}
.csymbol {
	font-size:25%;
    text-align: left;
    color: transparent;
}
.cname {
 	font-size:90%;
    text-align: right;
    color: midnightblue;
}
.cname:hover{
 	color: blue;
}
.camass{
	font-size:25%;
    text-align: left;
    color: transparent;
}

.cmetal{
}
.cmetalloid{
}
.cnonmetal{
}
.cunknown{
}

.calkali{
}
.calkaline_earth{
}
.clanthanide{
}
.cactinide{
}
.ctransition{
}
.cpost-​transition{
}
.cpolyatomic{
}
.cdiatomic{
}
.cnoble_gas{
}

.cblocks{
    background-color:LightSalmon;
    border: 5px double RoyalBlue;
    border-radius: 5px;
}
.cblockf{
    background-color:PaleGreen;
    border: 5px double RoyalBlue;
    border-radius: 5px;
}
.cblockd{
    background-color:PaleTurquoise;
    border: 5px double RoyalBlue;
    border-radius: 5px;
}
.cblockp{
    background-color:LemonChiffon;
    border: 5px double RoyalBlue;
    border-radius: 5px;
}
