.ccontainer {
    width: 100%;
    border: 1px solid gray;
}

.cheader, .cfooter {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

.ctable {
    font-family: arial, sans-serif;
    width: 100%;
}
.cfullcell{
    min-width:50px;
}
.cemptycell {
    min-width:25px;
}

.credbutton {
    background-color: red;
    font-weight: bold;
	color: yellow;
}


.cheader:hover{
    background-color: silver;
}

.cnav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

.cnavul {
    list-style-type: disc;
    padding: 5;
 	font-size:125%;
}
			
.cnavula {
    text-decoration: none;
}

.carticle {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    background-color: WhiteSmoke;
}

.catomicnumber {
 	font-size:75%;
    text-align: left;
    color: midnightblue;
}
.csymbol {
 	font-size:110%;
    text-align: right;
    //background-color: white;
    color: midnightblue;
}
.cname {
 	font-size:90%;
    text-align: right;
    color: midnightblue;
}
.cname:hover{
 	color: blue;
}
.camass{
 	font-size:100%;
	text-align:center;
    color: midnightblue;
}

.cmetal{
}
.cmetalloid{
    background-color:darkkhaki;
	border: 7px solid dimgray;
}
.cnonmetal{
}
.cunknown{
    background-color:gainsboro;
	border: 7px solid dimgray;
}

.calkali{
    background-color:crimson;
	border: 7px solid dimgray;
}
.calkaline_earth{
    background-color:lightcoral;
	border: 7px solid dimgray;

}
.clanthanide{
    background-color:violet;
	border: 7px solid dimgray;

}
.cactinide{
    background-color:lightpink;
	border: 7px solid dimgray;

}
.ctransition{
    background-color:lightsalmon;
	border: 7px solid dimgray;

}
.cpost-​transition{
    background-color:darkgray;
	border: 7px solid dimgray;

}
.cpolyatomic{
    background-color:aquamarine;
	border: 7px solid dimgray;

}
.cdiatomic{
    background-color:palegreen;
	border: 7px solid dimgray;

}
.cnoble_gas{
    background-color:lightcyan;
	border: 7px solid dimgray;

}

.cblocks{
}
.cblockf{
}
.cblockd{
}
.cblockp{
}
