.ccontainer {
    width: 100%;
    border: 1px solid gray;
}

.cheader, .cfooter {
    padding: 1em;
    color: white;
    background-color: DimGray;
    clear: left;
    text-align: center;
}

.ctable {
    font-family: arial, sans-serif;
    width: 100%;
	min-width:150px;
}
.cfullcell{
    min-width:50px;
}
.cemptycell {
    min-width:25px;
}

.credbutton {
    background-color: red;
    font-weight: bold;
	color: yellow;
}


.cheader:hover{
    background-color: Silver;
}

.cnav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

.cnavul {
    list-style-type: circle;
    padding: 0;
}
			
.cnavula {
    text-decoration: none;
}

.carticle {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    background-color: teal;
}

.catomicnumber {
 	font-size:50%;
    text-align: left;
    color: midnightblue;
}
.csymbol {
 	font-size:80%;
    text-align: left;
    //background-color: white;
    color: midnightblue;
}
.cname {
 	font-size:90%;
    text-align: left;
    color: midnightblue;
}
.cname:hover{
 	color: blue;
}
.camass{
 	font-size:90%;
	text-align:left;
    color: midnightblue;
}

.cmetal{
    background-color:oldlace;
	border: 7px solid whitesmoke;
}
.cmetalloid{
    background-color:darkkhaki;
	border: 7px solid darkslategray;
}
.cnonmetal{
    background-color:powderblue;
	border: 7px solid whitesmoke;
}
.cunknown{
    background-color:gainsboro;
	border: 7px solid whitesmoke;
}

.calkali{
}
.calkaline_earth{
}
.clanthanide{
}
.cactinide{
}
.ctransition{
}
.cpost-​transition{
}
.cdiatomic{
}
.cpolyatomic{
}
.cnoble_gas{
}

.cblocks{
}
.cblockf{
}
.cblockd{
}
.cblockp{
}
