<table border=1 width="100%" height="150">
    <tr>
        <th width="2%">H</th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%">He</th>
    </tr>
    <tr>
        <th width="2%">Li</th>
        <th width="2%">Be</th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%"></th>
        <th width="2%">B</th>
        <th width="2%">C</th>
        <th width="2%">N</th>
        <th width="2%">O</th>
        <th width="2%">F</th>
        <th width="2%">Ne</th>
    </tr>
</table>
