﻿<h1>{{element.name.en}}</h1>
<table>
    <thead>
        <tr><td>Name</td>{{element.name.en}}</tr>
    </thead>
    <tbody>
        <tr><td>Symbol</td>{{element.symbol}}</tr>
        <tr><td>Group</td>{{element.group}}</tr>
        <tr><td>Period</td>{{element.period}}</tr>
    </tbody>
</table>
<div><bohr-diagram [element]="element"></bohr-diagram></div>
