<svg id="electron-configuration" width="560" height="560" viewBox="0 0 560 560" *ngIf="element">
    <symbol id="ec-electron" x="-10" y="-10" width="21" height="21" >
        <circle cx="10" cy="10" r="10" fill="#6a6af0" stroke="white" strokeWidth="3" />
    </symbol>
    <symbol id="ec-empty-electron-slot" x="-10" y="-10" width="21" height="21">
        <circle cx="10" cy="10" r="10" fill="white" stroke="gray" strokeWidth="3" />
    </symbol>
    <g id="ec-electron-shells">
        <ng-template ngFor let-i="index" let-electronRing [ngForOf]="electronRings" >
            <circle cx="280" cy="280" [attr.r]="electronRing" fill="none" stroke="gray" />
        </ng-template>
    </g>
    <g id="ec-electrons">
        <ng-template ngFor let-electron [ngForOf]="electrons">
            <use href="#ec-electron" [attr.x]="electron.x" [attr.y]="electron.y" />
        </ng-template>
    </g>
    <g id="ec-nucleus">
        <circle cx="280" cy="280" r="50" fill="#ED6E46" />
        <text id="ec-symbol" x="280" y="298" fontSize="40" textAnchor="middle">{{element.symbol}}</text>
    </g>
</svg>