.periodic-table {
    font-family: Arial, sans-serif;
}

table {
    border-collapse: separate;
    border-spacing: 3px;
    table-layout: fixed;
}

table colgroup col.periods {
    width: 20ex;
}

table colgroup col.group {
    width: 10ex;
}

table td {
    padding: 3px;
}