<div class='periodic-table'>
    <h1 i18n>The periodic table of the elements</h1>
    <dt i18n>Select language: </dt>
    <dd>
        <select [(ngModel)]="settings.language" (change)="onSelectLanguage($event.target.value)">
      <option *ngFor="let lang of settings.languageOptions" [ngValue]="lang">{{lang.name}}</option>
    </select>
    </dd>
    <h2 i18n>Main Table</h2>
    <table>
        <colgroup>
            <col class="periods">
            <col class="group" *ngFor="let i of this.initLoop(18)">
        </colgroup>
        <thead>
            <tr>
                <th></th>
                <th *ngFor="let i of this.initLoop(18)">{{i}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let periodNumber of ['1', '2', '3', '4', '5', '6', '7']" class="period">
                <th>Period {{periodNumber}}</th>
                <td *ngFor="let element of this.getElementsForRow(periodNumber)" element-cell [element]="element" [settings]="settings"></td>
            </tr>
        </tbody>
    </table>

    <h2 i18n>Lanthanides</h2>

    <table>
        <colgroup>
            <col class="periods">
            <col class="group" *ngFor="let i of this.initLoop(15)">
        </colgroup>

        <tbody>
            <tr class="period">
                <th>Lanthanides</th>
                <td *ngFor="let element of this.getElementsForRow('lanthanides')" element-cell [element]="element" [settings]="settings"></td>
            </tr>
        </tbody>
    </table>

    <h2 i18n>Actinides</h2>

    <table>
        <colgroup>
            <col class="periods">
            <col class="group" *ngFor="let i of this.initLoop(15)">
        </colgroup>

        <tbody>
            <tr class="period">
                <th>Actinides</th>
                <td *ngFor="let element of this.getElementsForRow('actinides')" element-cell [element]="element" [settings]="settings"></td>
            </tr>
        </tbody>
    </table>
</div>