.elementsTable {

    height: 60%;
    margin: auto;
    padding-top: 1cm
}

td {
    vertical-align: center;
    width: 5.55%;
    height: 100px;
    font-size: 40; 
    text-align: center;
    border-style: solid;
    border-color: white;
    border-width: 6pt;
    border-radius: 25px;
}

.element {
    margin: 5px;
}

.element .number {
    text-align: right;
}
.element .symbol {
    text-align: center;
    font-size: 2em;
}
.element .name {
    text-align: left;
}

.hydrogen {
    background-color: goldenrod;
}

.alkali {
    background-color: tomato;
}

.alkalineEarth {
    background-color: wheat;
}

.transition {
    background-color: indianred;
}

.metal {
    background-color: grey;
}

.nonMetal {
    background-color: greenyellow;
}

.semiMetal {
    background-color: sandybrown;
}

.halogen {
    background-color: plum;
}

.lanthanide {
    background-color: chocolate;
}

.actinide {
    background-color: brown;
}

.noble {
    background-color: lightblue;
}

.gas {
    border-color: green;
}

.liquid {
    border-color: blue;
}

.solid {
    border-color: black;
}

.selected {
    background-color: blue;
}

.footer {
    padding-top: 2cm;
    margin: auto;
    width: 40%;
}

.dropdown {
    font-size: 2em;
    font-family: Arial, sans-serif;
}

.dropdown select {
    font-size: 1em;
}

.horizontalStack {
    margin: 0;
    padding: 0;
}

.horizontalStack li {
    display: inline-block;
}