body {
	font-family: Arial, sans-serif;
	
}
.periodic-table {
	font-family: Arial, sans-serif;
	
}

table {
	border-collapse: separate;
	border-spacing: 3px;
	table-layout: fixed;
	
}

table td {
	padding: 3px;
}

table colgroup col.periods {
	width: 20ex;
}

table colgroup col.group {
	width: 10ex;
}

table tbody td.element {
	border-radius: 8px;
	border: 1px solid black;
}

.element .atomic-number {
	text-align: right;
}

.element .symbol {
	font-size: 200%;
	text-align: center;
}

.element .name {
	font-size: xx-small;
	text-align: center;
}

.element.hydrogen {
	background: linear-gradient(white, Gainsboro);
}

.element.alkali-metal {
	background: linear-gradient(white, Thistle);
}

.element.alkaline-earth-metal {
	background: linear-gradient(white, Lavender);
}

.element.nonmetal {
	background: linear-gradient(white, Khaki);
}

.element.metalloid {
	background: linear-gradient(white, Orange);
}

.element.transition-metal {
	background: linear-gradient(white, Gray);
}

.element.post-transition-metal {
	background: linear-gradient(white, DarkGray);
}

@keyframes halogen-animation {
    from {background-color: red;}
    to {background-color: green;}
}


.element.halogen {
    animation-name: halogen-animation;
    animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.element.noble-gas {
	background: linear-gradient(white, DarkSalmon);
}


.element.lanthanoid {
	background: linear-gradient(white, LightBlue);
}

.element.actinoid {
	background: linear-gradient(white, Cyan);
}
