* {
  box-sizing: border-box;
}

table#periodicTable {
    /*border-collapse: collapse;*/
    table-layout: fixed;
    display: inline-table;
}

table#periodicTable td {
    width: 5em;
    height: 5em;
    padding: 0.2em;
}


table#periodicTable td:not(:empty)
{
}

.host {
    position: relative;
    height: 100%;
    width: 100%;
}
.element {
    border: 0.1em solid black
    padding: 0em;
    width: 5em;
    height: 5em;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    }

.element > div.header {
    text-align: right;
}
.element > div.symbol {
    text-align: center;
    font-size: 2em;
}
.element > div.footer {
    text-align: right;
}


.OtherNonMetals
{
    background-color: green;
}
.AlkaliMetals
{
    background-color: orange;
}
.AlkalineEarthMetals
{
    background-color: yellow;
}
.NobelGases
{
    background-color: blue;
}
.Halogens
{
    background-color: mediumturquoise;
}
.Metalloids
{
    background-color: mediumseagreen;
}
.PostTransitionMetals
{
    background-color: paleturquoise;
}
.Actinoids
{
    background-color: hotpink;
}