* {
  box-sizing: border-box; }

table#periodicTable {
  /*border-collapse: collapse;*/
  table-layout: fixed;
  display: inline-table; }

table#periodicTable td {
  padding: 0em;
  width: 5em;
  height: 5em;
  vertical-align: middle;
  text-align: center; }

table#periodicTable td:not(:empty) {
  border: 0.1em solid black; }

.element {
  padding: 0.2em;
  height: 100%;
  width: 100%; }

.element > div.header {
  text-align: right; }

.element > div.symbol {
  text-align: center;
  font-size: 2em; }

.element > div.footer {
  text-align: right; }

.OtherNonMetals {
  background-color: green; }

.AlkaliMetals {
  background-color: orange; }

.AlkalineEarthMetals {
  background-color: yellow; }

.NobelGases {
  background-color: blue; }

.Halogens {
  background-color: mediumturquoise; }

.Metalloids {
  background-color: mediumseagreen; }

.PostTransitionMetals {
  background-color: paleturquoise; }

.Actinoids {
  background-color: hotpink; }
